<template>
  <v-app>

    <v-app-bar
      v-if="getLogeado"
      app
      color="#BE0000"
      dark
    >
      <v-app-bar-nav-icon @click="drawer=!drawer" class="mr-4"></v-app-bar-nav-icon>
      Sistema Requisiciones
      <v-spacer></v-spacer>
      <v-btn text icon  @click="salir"><v-icon>mdi-exit-to-app</v-icon></v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-if="getLogeado"
      v-model="drawer"
      app
      left
      :mini-variant.sync="mini"
    >

      <v-card  width="80%" class="transparent elevation-0 mt-2 text--center" align="center" >
        <v-spacer></v-spacer>
        <v-img src="https://www.mikai.mx/wp-content/uploads/2019/11/mikai-logo.png" align="center" class="text--center"/>
        <v-spacer></v-spacer>
      </v-card>

      <v-divider></v-divider>

      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img
            :src="'https://ui-avatars.com/api/?background=BE0000&color=fff&rounded=true&format=svg&name=' + getdatosUsuario.nomuser"
          ></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content v-if="getdatosUsuario">
          <v-list-item-title>
            {{ getdatosUsuario.nomuser }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ getdatosUsuario.admin }}</v-list-item-subtitle>
        </v-list-item-content>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>

      </v-list-item>

      <v-list 
        dense 
        nav 
      >
        <v-list-item
          v-for="(accion, i) in filterAcciones"
          :key="i"
          :to="{name: accion.path}"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ accion.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="accion.nomaccion.toUpperCase()"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>


    <v-main>
      <v-container fluid class="elevation-0 transparent">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container> 
    </v-main>
  </v-app>
</template>

<script>

  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: 'App',

    components: {

    },

    data: () => ({
      //
      model : null,
      draw  : false,
      drawer: true,
      mini: false,
    }),

    created(){
      console.log( this.getLogeado )
    },

    computed:{
      ...mapGetters('Login', ['getLogeado','getdatosUsuario']),

      filterAcciones(){
        if( this.getLogeado ){
          
          switch( this.getdatosUsuario.admin ){
            case 'ADMIN':
              return [
                { nomaccion: 'Usuarios'           , icon:'mdi-account'        , path:'Usuarios'                   , general: true },
                { nomaccion: 'Departamentos'      , icon:'mdi-office-building', path:'Departamentos'              , general: true },
                { nomaccion: 'Requisiciones'      , icon:'mdi-file'           , path:'Requisiciones'              , general: true },
                { nomaccion: 'Mis Requisiciones'  , icon:'mdi-file-pdf-box'   , path:'MisRequisiciones'           , general: true },
              ]
            break;

            case 'SUPERVISOR':
              return [
                { nomaccion: 'Requisiciones Depa' , icon:'mdi-file'           , path:'RequisicionesDepartamento'  , general: true },
                { nomaccion: 'Mis Requisiciones'  , icon:'mdi-file-pdf-box'   , path:'MisRequisiciones'           , general: true },
              ]
            break;

            default: 
              return [
                { nomaccion: 'Mis Requisiciones'  , icon:'mdi-file-pdf-box'   , path:'MisRequisiciones'           , general: true },
              ]

          }

        }else{ return [] }
      }
    },

    methods:{
      ...mapActions('Login',['salirLogin']),
      
      salir(){
        location.href = 'https://mikai.mx/intranet/#/home';
      }
    },
  };
</script>
<style>

  main{
    background: #F4F2F2 ;
  }

  .v-navigation-drawer__content::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  .v-data-table--fixed-header > .v-navigation-drawer__content::-webkit-scrollbar:vertical {
    width: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar:vertical{
    width: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar-button:increment,.v-navigation-drawer__content::-webkit-scrollbar-button{
    display: none;
  }

  .v-navigation-drawer__content::-webkit-scrollbar:horizontal{
    height: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }

  html{
    background: #F4F2F2;
  }

  .v-main__wrap{
    background: #F4F2F2 !important;
  }

  .v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 8px !important;
  }

  .v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 6px !important;
  }


  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    align-self: center;
    margin: 0;
    min-width: 0px !important;
    justify-content: flex-end;
  }

  .shadowCard{
    border-radius: 8px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.2)  !important;
  }


</style>
